@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    background: rgb(13,1,24);
    height: 100vh;
}
main {
    display: flex;
    align-items: center;
    gap: 19.2rem;
    max-width: 82.1rem;
    margin: auto;
    padding-top: 14.6rem;
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
}
input {
    max-width: 70%;
}
input[type='range']::-webkit-slider-runnable-track{
    height: .4rem;
    background: #afe25c;
    border-radius: .5rem;
}
input[type='range']::-webkit-slider-thumb {
    max-width: 20px;
    height: 20px;
    margin-top: -4.5px;
    border-radius: 60px;
}
aside {
    position: fixed;
    right: 6.4rem;
    top: 6.4rem;
}
.box1 {
    max-width: 32.1rem;
}
.box2 {
    max-width:30.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
}
.controls {
    display: flex;
    gap: 4rem;
    margin-top: 4.8rem;
    justify-content: center;
}
.timer {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12.6rem;
    line-height: 14.8rem;
    text-transform: uppercase;
    color: #afe25c;
    display: flex;
    max-width: 32.1rem;
}
.cards {
    background: #3d3d61;
    border-radius: 2.4rem;
    max-width: 13.8rem;
    height: 15.2rem;
    transition: all .3s;
}
.cards img {
    margin-bottom: 3.2rem;
}
.lightFontColor {
    color: #6F38C5;
    text-shadow: 1px 1px blueviolet;
}
.bodyLightBackground {
    background: #ADDDD0;
}
.cardsLightBackground{
    background: #6184f8;
}
.cardsSelectedBackground {
    background: #6F38C5;
}
.hide {
    display: none;
}

@media (max-width:650px) {
    main {
        flex-direction: column;
        gap: 9rem;
    }
    .controls {
        gap: 2rem;
    }
    .timer {
        font-size: 11.6rem;
    }
    aside {
        right: 2.4rem;
        top: 4.4rem;
    }
}
@media (min-width:651px) and (max-width:1000px) {
    main {
        flex-direction: column;
        gap: 10.2rem;
    }
}